/* Colors
-------------------------- */
$-color-theme: #373d41;
$-color-theme-menu: #42485B;
$-color-theme-login: #00a79d;
$-color-success: #13ce66;
$-color-danger: #fd8076;
$-color-theme-bg: #36b1da;
$-color-error: red;
$-color-waring: #f8c959;
$-color-menu-start: #3ca6dc;
$-color-menu-end: #2561aa;
$-color-logo-start: #4eb8e8;
$-color-logo-end: #3698cb;
$-color-liner: #e5e5e5;
$-color-label: #494949;
$-color-message-success: #22c4b7;
$-color-disable:#a3a4a4;
/*checkbox 颜色*/
$-color-check-border: rgb(1, 108, 239);
$-color-check-disabled-bg: #d1dbe5;
$-color-check-disabled-border: rgb(209, 216, 229);
/*checkbox 宽度*/
$-width-checkbox: 18px;
$-height-checkbox: 18px;
$-table-height: 500px;
/* width
-------------------------- */

$-width-appMenu-close: 92px;
$-width-appMenu-open: 145px;